<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="part">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.part.detail.title">Part</span> {{part.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.part.name">Name</span></dt>
                <dd>
                    <span>{{part.name}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.part.ancestorId">Ancestor Id</span></dt>
                <dd>
                    <span>{{part.ancestorId}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.part.enabled">Enabled</span></dt>
                <dd>
                    <span>{{part.enabled}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.part.children">Children</span></dt>
                <dd>
                    <div *ngIf="part.children">
                        <a [routerLink]="['/part', part.children?.id, 'view']">{{part.children?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.part.version">Version</span></dt>
                <dd>
                    <div *ngIf="part.version">
                        <a [routerLink]="['/version', part.version?.id, 'view']">{{part.version?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/part', part.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
