<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-title-heading" jhiTranslate="jhipsterSampleApplicationApp.title.home.createOrEditLabel">Create or edit a Title</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!title.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="title.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.title.value" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                        [(ngModel)]="title.value" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.title.enabled" for="field_enabled">Enabled</label>
                    <input type="checkbox" class="form-control" name="enabled" id="field_enabled"
                        [(ngModel)]="title.enabled" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.title.users" for="field_users">Users</label>
                    <select class="form-control" id="field_users" name="users" [(ngModel)]="title.users" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="usersOption.id === title.users?.id ? title.users : usersOption" *ngFor="let usersOption of users; trackBy: trackUsersById">{{usersOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
