<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.userGroup.home.title">User Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-group" [routerLink]="['/user-group/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.userGroup.home.createLabel">
            Create new User Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userGroups">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.userGroup.name">Name</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.userGroup.type">Type</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.userGroup.ad">Ad</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.userGroup.roles">Roles</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.userGroup.abilities">Abilities</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.userGroup.step">Step</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userGroup of userGroups ;trackBy: trackId">
                <td><a [routerLink]="['/user-group', userGroup.id, 'view' ]">{{userGroup.id}}</a></td>
                <td>{{userGroup.name}}</td>
                <td jhiTranslate="{{'jhipsterSampleApplicationApp.GroupType.' + userGroup.type}}">{{userGroup.type}}</td>
                <td>{{userGroup.ad}}</td>
                <td>
                    <span *ngFor="let roles of userGroup.roles; let last = last">
                            <a class="form-control-static" [routerLink]="['../role', roles?.id, 'view' ]">{{roles.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let abilities of userGroup.abilities; let last = last">
                            <a class="form-control-static" [routerLink]="['../ability', abilities?.id, 'view' ]">{{abilities.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="userGroup.step">
                        <a [routerLink]="['../step', userGroup.step?.id, 'view' ]" >{{userGroup.step?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-group', userGroup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-group', userGroup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'user-group', { outlets: { popup: userGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
