<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lock">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.lock.detail.title">Lock</span> {{lock.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.lock.objectId">Object Id</span></dt>
                <dd>
                    <span>{{lock.objectId}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.lock.lockType">Lock Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterSampleApplicationApp.LockType.' + lock.lockType}}">{{lock.lockType}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.lock.objectType">Object Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterSampleApplicationApp.ObjectType.' + lock.objectType}}">{{lock.objectType}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lock', lock.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
