<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-lock-heading" jhiTranslate="jhipsterSampleApplicationApp.lock.home.createOrEditLabel">Create or edit a Lock</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!lock.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="lock.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.lock.objectId" for="field_objectId">Object Id</label>
                    <input type="number" class="form-control" name="objectId" id="field_objectId"
                        [(ngModel)]="lock.objectId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.lock.lockType" for="field_lockType">Lock Type</label>
                    <select class="form-control" name="lockType" [(ngModel)]="lock.lockType" id="field_lockType" >
                        <option value="CHECKOUT">{{'jhipsterSampleApplicationApp.LockType.CHECKOUT' | translate}}</option>
                        <option value="LOCK">{{'jhipsterSampleApplicationApp.LockType.LOCK' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.lock.objectType" for="field_objectType">Object Type</label>
                    <select class="form-control" name="objectType" [(ngModel)]="lock.objectType" id="field_objectType" >
                        <option value="CATEGORY">{{'jhipsterSampleApplicationApp.ObjectType.CATEGORY' | translate}}</option>
                        <option value="DOCUMENT">{{'jhipsterSampleApplicationApp.ObjectType.DOCUMENT' | translate}}</option>
                        <option value="MANUAL">{{'jhipsterSampleApplicationApp.ObjectType.MANUAL' | translate}}</option>
                        <option value="NOTIFICATION">{{'jhipsterSampleApplicationApp.ObjectType.NOTIFICATION' | translate}}</option>
                        <option value="ORGANIZATION">{{'jhipsterSampleApplicationApp.ObjectType.ORGANIZATION' | translate}}</option>
                        <option value="REPORT">{{'jhipsterSampleApplicationApp.ObjectType.REPORT' | translate}}</option>
                        <option value="SECTION">{{'jhipsterSampleApplicationApp.ObjectType.SECTION' | translate}}</option>
                        <option value="SECURITY">{{'jhipsterSampleApplicationApp.ObjectType.SECURITY' | translate}}</option>
                        <option value="SYSTEM">{{'jhipsterSampleApplicationApp.ObjectType.SYSTEM' | translate}}</option>
                        <option value="USER">{{'jhipsterSampleApplicationApp.ObjectType.USER' | translate}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
