<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="workflow">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.workflow.detail.title">Workflow</span> {{workflow.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.workflow.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterSampleApplicationApp.WorkflowStatus.' + workflow.status}}">{{workflow.status}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.workflow.version">Version</span></dt>
                <dd>
                    <div *ngIf="workflow.version">
                        <a [routerLink]="['/version', workflow.version?.id, 'view']">{{workflow.version?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/workflow', workflow.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
