<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bookmark">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.bookmark.detail.title">Bookmark</span> {{bookmark.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.bookmark.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterSampleApplicationApp.BookmarkType.' + bookmark.type}}">{{bookmark.type}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.bookmark.users">Users</span></dt>
                <dd>
                    <div *ngIf="bookmark.users">
                        <a [routerLink]="['/users', bookmark.users?.id, 'view']">{{bookmark.users?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bookmark', bookmark.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
