<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-bookmark-heading" jhiTranslate="jhipsterSampleApplicationApp.bookmark.home.createOrEditLabel">Create or edit a Bookmark</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bookmark.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bookmark.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.bookmark.type" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="bookmark.type" id="field_type" >
                        <option value="ORGANIZATION">{{'jhipsterSampleApplicationApp.BookmarkType.ORGANIZATION' | translate}}</option>
                        <option value="MANUAL">{{'jhipsterSampleApplicationApp.BookmarkType.MANUAL' | translate}}</option>
                        <option value="SECTION">{{'jhipsterSampleApplicationApp.BookmarkType.SECTION' | translate}}</option>
                        <option value="DOCUMENT">{{'jhipsterSampleApplicationApp.BookmarkType.DOCUMENT' | translate}}</option>
                        <option value="PART">{{'jhipsterSampleApplicationApp.BookmarkType.PART' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.bookmark.users" for="field_users">Users</label>
                    <select class="form-control" id="field_users" name="users" [(ngModel)]="bookmark.users" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="usersOption.id === bookmark.users?.id ? bookmark.users : usersOption" *ngFor="let usersOption of users; trackBy: trackUsersById">{{usersOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
